@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('backg.jpg') no-repeat center;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation a {
    position: relative;
    color: #446e91;
    font-size: 1.1em;
    margin: 0 7px;
    text-decoration: none;
    padding: 6px 20px;
    transition: all 0.3s ease-in-out;
}

.navigation a:hover {
    text-shadow: 0 0 20px #6984fa;
}


.text h1 {
    font-size: 9em;
    font-family: "Poppins";
    text-align: center;
    -webkit-text-stroke: 2px rgb(0, 101, 141);
    color: transparent;
    background: url('back.png');
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: backText 20s linear infinite alternate-reverse;
}


@keyframes backText {
    100% {
        background-position: 2000px 0;
    }
}
