@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('backg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation a {
    position: relative;
    color: #446e91;
    font-size: 1.1em;
    margin: 0 7px;
    text-decoration: none;
    padding: 6px 20px;
}

.navigation a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #4df0cd;
    border-radius: 7px;
    transform: scale(0);
    opacity: 0;
    transition: 0.5s;
}

.navigation a:hover span {
    transform: scale(1);
    opacity: 1;
}

.text h1 {
    font-size: 9em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    -webkit-text-stroke: 2px lightseagreen;
    color: transparent;
    background: url('back.png');
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: backText 20s linear infinite alternate-reverse;
}


@keyframes backText {
    100% {
        background-position: 2000px 0;
    }
}